<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <title>Story App | <%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <header>
      <fee-header></fee-header>
    </header>

    <main>
      <list-story></list-story>
    </main>

    <footer>
      <fee-footer></fee-footer>
    </footer>
  </body>
</html>
